<!DOCTYPE html>
<html>
  <head>
    <title>KnittingPatternDesigner</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/patterns/new">New Pattern</a>
        <a href="/users">Users</a>
        <% if logged_in? %>
        <%= link_to "Log Out", logout_path, method: :delete %>
        <% else %>
        <a href="/login">Login</a>
        <a href="/users/new">Register</a>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
